<ul>
    <li>Dirección</li>
    <li>Telefono</li>
    <li>E-mail</li>
</ul>

<ul class="ul_icon">
    <li>
        <a href="/facebook.com"></a>
        <img src="/icon/icon facebook.png" alt="">
    </li>

    <li>
        <a href="/twitter.com"></a>
        <img src="/icon/twitter.png" alt="">
    </li>

    <li>
        <a href="/instagran.com"></a>
        <img src="/icon/icon instagran.png" alt="">
    </li>
</ul>